.Country{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .5rem;
    background-color: var(--card-color);
    box-shadow: 2px 2px 5px 0 var(--shadow-color), -2px -2px 5px var(--shadow-color);
    cursor: pointer;
    transition: all .3s;
}

.Country:hover{
    transform: scale(1.04);
}

.flag-img{
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.flag-img img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.country-details{
    color: var(--text-color);
    padding: 2rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.country-details h2{
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    font-weight: 800;
}

.country-details p{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.country-details span{
    font-weight: 300;
}