.InputControls{
    background-color: var(--bg-main);
    padding: 5rem 6vw 2rem 6vw;
    display: flex;
    flex-direction: column;
}

@media (min-width: 800px){
    .InputControls{
        flex-direction: row;
        justify-content: space-between;
    }
}