.SearchInput{
    position: relative;
    margin-bottom: 3rem;
}

@media (min-width: 800px){
    .SearchInput{
        margin-bottom: 0;
    }
}

.SearchInput i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--input-color);
}

.form-control{
    min-width: 30rem;
    width: 100%;
    max-width: 35rem;
    height: 4rem;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 7rem;
    color: var(--input-color);
    background-color: var(--bg-header);
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: .4rem;
    box-shadow: 1px 1px 5px 0 var(--shadow-color);
}

.form-control:focus{
    box-shadow: 1px 1px 2px 2px var(--shadow-color),
                -1px -1px 2px 2px var(--shadow-color);
}


@media (min-width: 900px){
    .SearchInput i{
        font-size: 1.5rem;
    }

    .form-control{
        font-size: 1.5rem;
        height: 4.5rem;
    }
}
